*{
	margin: 0px;
	padding: 0px;
}
.body {
	
	 background-image: url("https://www.espaciohonduras.net/images/diseno_programacion_web/Plantillas_web/spa/1/spa_1/images/page.jpeg"); 
	 background-repeat:  no-repeat;
	 background-attachment: fixed;
	 background-size: cover;
	 color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif, cornelia;
}
.text{
  font-family: cornelia;
}        
h1{
  font-family: cornelia;
  font-size: 70px;
}
h2{
  font-family:Cooper Black;
}
.cabecera {
	padding: 15px;
	height: 50px;
	text-align: center;
	<font face="cornelia">Texto</font>	
}

.separador{
	width: 1000px;
	height: 400px;
}

.form{
	/*border:2px solid blue; */
	width: 400px;
	padding: 30px;
	margin: 500px;
	margin-top: 100px;
	border-radius: 30px;
	margin-top: 200px;
}

header{
  font-family: Helvetica;
  width: 480px;
  margin: 0 auto;
}
ul{
	
  list-style: none;
  padding: 10px;
}
#menu li>a{
  
  color: black;
 padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 70px;
background-color: rgba(0, 0, 0, 0.3) ;
	height: 15px;
	text-align: center;
	border-radius: 30px;
}
#menu li>a:hover{
  color: #3D5110;
  background-color: #eaeaea;
  text-align:center;
}
#menu>li{
  float: right;  
  text-align:center;
}
#menu>li>ul{
  display: none;
  text-align:center;
}
#menu>li:hover>ul {
  display:block;
  text-align:center;
}

.menu{
  height: 1px;
	text-align: right;
	<font face="cornelia">Texto</font>
	padding: 15px;
	height: 50px;
	

}

.label{
	color: black;
	background-color: lightgreen;
	size: 50px;
	width: 150px;
	height: 27px;
	border: 2px solid black;
	border-radius: 30px;
	display: block;
	float: none;
	text-align: center;

}

#input{
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid black;
}
.campotexto{
	height: 75px;
	width: 350px;

}

.logo
{
    display: block;
    left: 9.33%;
    margin-left: -36px;
    position: absolute;
    top: -6px;
    width: 387px;
    height: 326px;
    background-image: url('https://www.espaciohonduras.net/images/diseno_programacion_web/Plantillas_web/spa/1/spa_1/images/object1274802213.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
}
#boton{
	margin-top: 10px;
	width: 75px;
	height: 40px;
	background-color: lightgreen;
	border-radius: 50px;
}
#pie{
	width: 1000px;
	height: 1px;
}
