*{
	margin: 0px;
	padding: 0px;
}
body {
	
	 background-image: url("https://cdn.pixabay.com/photo/2018/11/15/02/41/essential-oil-3816410_960_720.jpg"); 
	 background-repeat:  no-repeat;
	 background-attachment: fixed;
	 background-size: cover;
	 color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif, cornelia;
}
.cabecera {
	padding: 15px;
	height: 50px;
	text-align: left;
	<font face="cornelia">Texto</font>
	
	
}
.navegacion 

header{
  font-family: Helvetica;
  width: 480px;
  margin: 0 auto;
}
ul{
  list-style: none;
  padding: 10px;
}
#menu li>a{
  
  color: black;
 padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 70px;
background-color: rgba(0, 0, 0, 0.3) ;
	height: 15px;
	text-align: center;
	<font face="cornelia">Texto</font>
}
#menu li>a:hover{
  color: #000;
  background-color: #eaeaea;
  text-align:center;
}
#menu>li{
  float: right;
  text-align:center;
}
#menu>li>ul{
  display: none;
  text-align:center;
}
#menu>li:hover>ul {
  display:block;
  text-align:center;
}

.menu{
height: 1px;
	text-align: right;
	<font face="cornelia">Texto</font>
	padding: 15px;
	height: 50px;
	

}
.principal {
	height: 5000px;
	 background-color: #f4f4f4; 
	 margin: 5px; 
	 width: 50px; 
	 height: 500px;  
	
	
	
}
.secundario {
	


}
.c1 {
	height: 100px;
	width: 250px;
	background-color: black;
	float: left;
	margin: 10px;
}
.c1 .logo {
	margin: 0px;
	float: initial;
	
}

.contenedor{
	padding: 10px;
	overflow: hidden;
}
.section {
   
   float: left;
   margin: 100px;
   padding: 10px;
   width: 400px; height: 150px;
   background-color: white; 
   border-radius: 60px;
}
 
.divtexto {
   width: 400px; height: 150px;
   margin-left: 450px;
   
   position: absolute;
   
   padding:10px; 
   float: left; 
  
}

