*{
	margin: 0px;
	padding: 0px;
}



body {
	
	 background-image: url("https://www.espaciohonduras.net/images/diseno_programacion_web/Plantillas_web/spa/1/spa_1/images/page.jpeg"); 
	 background-repeat:  no-repeat;
	 background-attachment: fixed;
	 background-size: cover;
	 color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif, cornelia;
}

.contenedor{
  width: 90%;
	max-width: 75em;

}
.cabecera {
	padding: 0.93em;
	height: 0.62em;
	text-align: center;
	<font face="cornelia">Texto</font>
	
	
}


header{
  font-family: Helvetica;
  width: 30em;
  margin: 0 auto;
}
ul{
  list-style: none;
  padding: 0.62em;
}
#menu li>a{
  
  color: black;
 padding: 0.62em;
  display: block;
  text-decoration: none;
  min-width: 4.37em;
background-color: rgba(0, 0, 0, 0.3) ;
	height: 0.93em;
	text-align: center;
	<font face="cornelia">Texto</font>
}
#menu li>a:hover{
  color: #3D5110;
  background-color: #eaeaea;
  text-align:center;
}
#menu>li{
  float: right;
  text-align:center;
}
#menu>li>ul{
  display: none;
  text-align:center;
}
#menu>li:hover>ul {
  display:block;
  text-align:center;
}

.menu{
height: 0.06em;
	text-align: right;
	<font face="cornelia">Texto</font>
	padding: 0.93em;
	height: 3.12em;
	

}
.principal {
	height: 312.5em;
	 background-color: #f4f4f4; 
	 margin: 0.31em; 
	 width: 3.12em; 
	 height: 31.25em;  
	
	
	
}

.c1 {
	height: 6.25em;
	width: 15.62em;
	background-color: black;
	float: left;
	margin: 0.62em;
}
	
.contenedor{
	padding: 0.62em;
	overflow: hidden;
}
.section {
   
   float: left;
   margin: 6.25em;
   padding: 0.62em;
   width: 25em; height: 9.37em;
   background-color: white; 
   border-radius: 3.75em;
}
 
.divtexto {
   width: 25em; height: 9.37em;
   margin-left: 28.12em;   
   position: absolute;   
   padding:0.62em; 
   float: left; 
  
}

.logo
{
    display: block;
    left: 9.33%;
    margin-left: -2.25em;
    position: absolute;
    top: -0.37em;
    width: 24.18em;
    height: 20.37em;
    background-image: url('https://www.espaciohonduras.net/images/diseno_programacion_web/Plantillas_web/spa/1/spa_1/images/object1274802213.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
}