*{
	margin: 0px;
	padding: 0px;
}
body {
	
	 background-image: url("https://cdn.pixabay.com/photo/2018/11/15/02/41/essential-oil-3816410_960_720.jpg"); 
	 background-repeat:  no-repeat;
	 background-attachment: fixed;
	 background-size: cover;
	 color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif, cornelia;
}
.cabecera {
	padding: 15px;
	height: 50px;
	text-align: left;
	<font face="cornelia">Texto</font>
	
	
}
.navegacion 

header{
  font-family: Helvetica;
  width: 480px;
  margin: 0 auto;
}
ul{
  list-style: none;
  padding: 10px;
}
#menu li>a{
  
  color: black;
 padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 70px;
background-color: rgba(0, 0, 0, 0.3) ;
	height: 15px;
	text-align: center;
	<font face="cornelia">Texto</font>
}
#menu li>a:hover{
  color: #000;
  background-color: #eaeaea;
  text-align:center;
}
#menu>li{
  float: right;
  text-align:center;
}
#menu>li>ul{
  display: none;
  text-align:center;
}
#menu>li:hover>ul {
  display:block;
  text-align:center;
}

.menu{
height: 1px;
	text-align: right;
	<font face="cornelia">Texto</font>
	padding: 15px;
	height: 50px;
	

}
.principal {
	height: 5000px;
	 background-color: #f4f4f4; 
	 margin: 5px; 
	 width: 50px; 
	 height: 500px;  
	
	
	
}
.secundario {
	


}
.c1 {
	height: 100px;
	width: 250px;
	background-color: black;
	float: left;
	margin: 10px;
}
.c1 .logo {
	margin: 0px;
	float: initial;
	
}
/*.c2 {
	height: 100px;
	width: 250px;
	background-color: grey;
	float: right;
	margin: 10px;
}
.flotaIzq {
	float: left;
}
.flotaDer {
	float: right;
}
.rojo {
	background-color: red;
}
.negro {
	background-color: black;
}
.ancho25p {
	width: 25%;
}
.alto200 {
	height: 200px;
}
.alto300 {
	height: 300px;
}*/

.form1 {
   position: relative;
   float: left;
}
 
.dfondo {
   width: 400px; height: 150px;
   background-color: #ff0000;
   margin-left: 10px;
   filter:alpha(opacity=20);
   -moz-opacity:0.2;
   opacity: 0.2;
   padding:10px;
   border-radius: 60px;
}
 
.dtexto {
   width: 350px; height: 200px;
   margin-left: 30px;
   background-color: transparent;
   position: absolute;
   z-index: 2;
   padding:10px;  
}

.form2 {
   position: relative;
   float: center;
}
 
.dfondo2 {
   width: 400px; height: 150px;
   background-color: #ff0000;
   margin-left: 440px;
   filter:alpha(opacity=20);
   -moz-opacity:0.2;
   opacity: 0.2;
   padding:10px;
   border-radius: 60px;
}
 
.dtexto2 {
   width: 350px; height: 200px;
   margin-left: 460px;
   
   position: absolute;
   z-index: 2;
   padding:10px;  
}

.form3 {
   position: relative;
   float: right;
}
 
.dfondo3 {
   width: 370px; height: 150px;
   background-color: #ff0000;
   margin-left: 1000px;
   filter:alpha(opacity=20);
   -moz-opacity:0.2;
   opacity: 0.2;
   padding:10px;
   border-radius: 60px;
}
 
.dtexto3{
   width: 350px; height: 200px;
   margin-left: 1060px;
   background-color: transparent;
   position: absolute;
   z-index: 2;
   padding:10px;  
}