*{
	margin: 0px;
	padding: 0px;
}
body {
	
	 background-image: url("https://www.espaciohonduras.net/images/diseno_programacion_web/Plantillas_web/spa/1/spa_1/images/page.jpeg"); 
	 background-repeat:  no-repeat;
	 background-attachment: fixed;
	 background-size: cover;
	 color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif, cornelia;
}
.cabecera {
	padding: 15px;
	height: 50px;
	text-align: center;
	<font face="cornelia">Texto</font>
		
}
.video1{
width: 500px;
position: relative;
padding: 100px;
margin: auto; 
margin-top: 100px;
margin-left: 300px;
}

ul{
  list-style: none;
  padding: 1px;
}

#menu li>a{
  
  color: black;
 padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 70px;
background-color: rgba(0, 0, 0, 0.3) ;
	height: 15px;
	text-align: center;
	border-radius: 30px;
}
#menu li>a:hover{
  color: #3D5110;
  background-color: #eaeaea;
  text-align:center;
}
#menu>li{
  float: right;
  text-align:center;
}
#menu>li>ul{
  display: none;
  text-align:center;
}
#menu>li:hover>ul {
  display:block;
  text-align:center;
}

.menu{
height: 1px;
	text-align: right;
	<font face="cornelia">Texto</font>
	padding: 15px;
	height: 50px;

}


.logo
{
    display: block;
    left: 9.33%;
    margin-left: -36px;
    position: absolute;
    top: -6px;
    width: 387px;
    height: 326px;
    background-image: url('https://www.espaciohonduras.net/images/diseno_programacion_web/Plantillas_web/spa/1/spa_1/images/object1274802213.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
}